$nadbieha-color: rgb(255, 152, 152);
$meska-color: rgb(255, 242, 121);
$okay-color: rgb(146, 234, 250);

html, body {
    min-width:250;
    width: auto !important;
    width:250px;
}

header {
    width: 100%;
    top: 0;
    transition: top 0.3s;
    padding: 0;
}

.searchbox {
    width: 700px;
}

.dataroot {
    width: 100%;
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
    overflow: hidden !important;
    background-color: rgb(209, 209, 209);
    top: 0.4rem;
    max-width: 700px;
    min-width: 250px;
    font-size: 1.25rem;
}
.item {
    &-container {
        border-color: #000;
        border-width: 1px;
        box-shadow: .250rem .350rem .70rem rgba(0, 0, 0, 0.200), -.150rem -.020rem .50rem rgba(0,0,0,.120) !important;
    }
    transition: all 0.5s;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    &:hover, &:focus, &:focus-visible{
        transition: 0.2s;
        background-color: rgb(252, 252, 241);
        color: inherit;
        box-shadow: .250rem .750rem .80rem rgba(0, 0, 0, 0.200), -.250rem -.120rem .80rem rgba(0,0,0,.120) !important;
    }
    &:focus, &:focus-visible {
        border-color: aqua;
        border-width: 4px;
    }
}

.bg-unavailable {
    background-color: rgba(228, 226, 226, 0.774);
    &:hover, &:focus, &:focus-visible {
        background-color: rgba(192, 191, 191, 0.774);
    }
}

.vehicle {
    &-number {
        width: fit-content;
        &-text {
            text-decoration: none;
            text-shadow: 1px;
            color: #000;
            text-align: center;
        }
    }
    &-icon {
        width: 18px;
        height: 18px;
    }
    &-trip {
        &-direction {
            font-size: 16px;
        }
        &-icon {
            width: 16px;
            height: 16px;
        }
    }
    &-link {
        &-status {
            border: 0;
            border-bottom: 1px solid rgb(97, 97, 97);
            border-bottom-left-radius: 0.125rem !important;
            box-shadow: 0 .220rem .200rem rgba(0, 0, 0, 0.200);
        }
    }
    &-line {
        font-size: 18px;
        
        &-badge {
            border-radius: .3rem;
            &-bus {
                @extend .vehicle-line-badge;
                background-color: rgb(78, 139, 253) !important;
                color: #fff;
            }
            &-trolleybus {
                @extend .vehicle-line-badge;
                background-color: rgb(173, 255, 106) !important;
                color: #000 !important;
            }
        }
    }
}

.service {
    &-id {
        &-icon {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.state-dtime-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.status {
    &-online {
        background-color: rgb(66, 231, 0);
        border-color: grey;
    }
    &-offline {
        background-color: grey;
        border-color: #000;
    }
    &-bg-vehicle {
        &-early {
            background-color: rgba($nadbieha-color,0.3);
        }
        &-late {
            background-color: rgba($meska-color,0.3);
        }
        &-okay {
            background-color: rgba($okay-color,0.3);
        }
    }
}
// existuje aj cez text-bg-* bootstrap class
// ale radsej som implementoval nove, keby
// existovala funkcia ne zmenu 
.bg-vehicle {
    &-okay {
        background-color: $okay-color;
        border-color: rgb(0, 0, 0);
        //color: rgb(68, 68, 68);
        &:hover {
            color: rgb(37, 37, 37);
        }
    }
    &-late {
        background-color: $meska-color;
        //color: rgb(49, 49, 49);
        &:hover {
            color: rgb(0, 0, 0);
        }
    }
    &-early {
        background-color: $nadbieha-color;
        //color:rgb(233, 233, 233);
    }
}

.td {
    &-meskanie, &-nadbieha {
        width: fit-content;
        padding-left: 0.150rem;
        padding-right: 00.150rem;
    }
    &-meskanie-text {
        background-color: $meska-color;
    }
    &-nadbieha-text {
        background-color: $nadbieha-color;
    }
    &-okay-text {
        background-color: $okay-color;
    }
    &-text {
        color: #000;
    }
}