html, body {
  min-width: 250;
  width: auto !important;
  width: 250px;
  background-color: rgb(255, 0, 0);
}

header {
  width: 100%;
  top: 0;
  transition: top 0.3s;
  padding: 0;
}

.searchbox {
  width: 700px;
}

.dataroot {
  width: 100%;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  overflow: hidden !important;
  background-color: rgb(247, 247, 247);
  top: 0.4rem;
  max-width: 700px;
  min-width: 250px;
  font-size: 1.25rem;
  padding: 0;
}

.item {
  transition: all 0.5s;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.item-container {
  border-top: 1px solid rgb(133, 133, 133);
  border-bottom: 1px solid rgb(133, 133, 133);
}
.item:hover, .item:focus, .item:focus-visible {
  transition: 0.2s;
  background-color: rgb(254, 254, 254);
  color: inherit;
  box-shadow: 0.25rem 0.75rem 0.8rem rgba(0, 0, 0, 0.2), -0.25rem -0.12rem 0.8rem rgba(0, 0, 0, 0.12) !important;
}
.item:focus, .item:focus-visible {
  border-color: rgb(199, 199, 199);
  border-width: 1px;
  border-radius: 0.35rem;
}

.bg-unavailable {
  background-color: rgba(228, 226, 226, 0.774);
}
.bg-unavailable:hover, .bg-unavailable:focus, .bg-unavailable:focus-visible {
  background-color: rgba(192, 191, 191, 0.774);
}

.vehicle-number {
  width: fit-content;
}
.vehicle-number-text {
  text-decoration: none;
  text-shadow: 1px;
  color: #000;
  text-align: center;
}
.vehicle-icon {
  width: 18px;
  height: 18px;
}
.vehicle-trip-direction {
  font-size: 16px;
}
.vehicle-trip-icon {
  width: 16px;
  height: 16px;
}
.vehicle-link-status {
  border: 0;
}
.vehicle-line {
  font-size: 18px;
}
.vehicle-line-badge, .vehicle-line-badge-trolleybus, .vehicle-line-badge-bus {
  border-radius: 0.3rem;
}
.vehicle-line-badge-bus {
  background-color: rgb(78, 139, 253) !important;
  color: #fff;
}
.vehicle-line-badge-trolleybus {
  background-color: rgb(173, 255, 106) !important;
  color: #000 !important;
}

.service-id-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.state-dtime-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.status-online {
  background-color: rgb(66, 231, 0);
  border-color: grey;
}
.status-offline {
  background-color: grey;
  border-color: #000;
}
.status-bg-vehicle-early {
  background-color: rgba(255, 152, 152, 0.3);
}
.status-bg-vehicle-late {
  background-color: rgba(255, 242, 121, 0.3);
}
.status-bg-vehicle-okay {
  background-color: rgba(146, 234, 250, 0.3);
}

.bg-vehicle-internal {
  border-right: 1px solid rgb(112, 112, 112);
}
.bg-vehicle-okay {
  background-color: rgb(146, 234, 250);
}
.bg-vehicle-okay:hover {
  color: rgb(37, 37, 37);
}
.bg-vehicle-late {
  background-color: rgb(255, 242, 121);
}
.bg-vehicle-late:hover {
  color: rgb(0, 0, 0);
}
.bg-vehicle-early {
  background-color: rgb(255, 152, 152);
}

.td-meskanie, .td-nadbieha {
  width: fit-content;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.td-meskanie-text {
  background-color: rgb(255, 242, 121);
}
.td-nadbieha-text {
  background-color: rgb(255, 152, 152);
}
.td-okay-text {
  background-color: rgb(146, 234, 250);
}
.td-text {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
