.container {
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 20px;
}

.vehicle-number {
    font-weight: bold;
    &-circle {
        width: 32px;
        height: 32px;
    }
}

header {
    width: 100%;
    top: 0;
    transition: top 0.3s;
    padding: 0;
}

.vehicle-number-text {
    text-decoration: none;
    text-shadow: 1px;
    color: #000;
    &:hover {
        color: aquamarine;
    }
}

.dataroot {
    top: 0.4rem;
}

.bg-vehicle {
    width: 32px;
    height: 32px;
    &-online {
        background-color: aquamarine;
    }
    &-offline {
        background-color: grey;
    }
    &-error {
        background-color: red;
    }
    &-late {
        background-color: orange;
    }
}