header {
    width: 100%;
    top: 0;
    transition: top 0.3s;
    padding: 0;
}

.searchbox {
    width: 700px;
}

.container-fluid {
    padding: 10px;
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}

.item {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover, &:focus, &:focus-visible{
        transition: 0.1s;
        background-color: rgb(252, 252, 241);
        color: inherit;
        box-shadow: .250rem .750rem .50rem rgba(0,0,0,.075), -.250rem -.120rem .50rem rgba(0,0,0,.075) !important;
    }
    &:focus, &:focus-visible {
        border-color: aqua;
        border-width: 4px;
    }
}

.bg-unavailable {
    background-color: rgba(228, 226, 226, 0.774);
    &:hover, &:focus, &:focus-visible {
        background-color: rgba(192, 191, 191, 0.774);
    }
}

.vehicle {
    &-number {
        width: fit-content;
        &-text {
            text-decoration: none;
            text-shadow: 1px;
            color: #000;
        }
    }
    &-icon {
        width: 18px;
        height: 18px;
    }
    &-trip {
        &-icon {
            width: 16px;
            height: 16px;
        }
        &-null {
            background-color: rgb(212, 212, 212);
        }
        &-idle {
            background-color: rgb(252, 190, 119);
        }
        &-departure {
            background-color: rgb(243, 255, 139);
        }
        &-on-way {
            background-color: rgb(124, 252, 156);
        }
    }
}

.dataroot {
    top: 0.4rem;
}

// existuje aj cez text-bg-* bootstrap class
// ale radsej som implementoval nove, keby
// existovala funkcia ne zmenu 
.bg-vehicle {
    &-okay {
        background-color: aquamarine;
        border-color: rgb(0, 0, 0);
        color: rgb(68, 68, 68);
        &:hover {
            color: rgb(37, 37, 37);
        }
    }
    &-late {
        background-color: orange;
        &:hover {
            color: rgb(0, 0, 0);
        }
        color: rgb(49, 49, 49);
    }
    &-early {
        background-color: red;
        color:rgb(233, 233, 233);
    }
}

.trip {
    &-null {

    }
}

.td {
    &-meskanie, &-nadbieha {

    }
    &-text {
        color: #000;
    }
}